@using RedSocial.Core.Application.ViewModels.User;
@model SaveUserViewModel;
@{
    ViewData["Title"] = "Eliminar categoria";
}

<div class="row">

    <div class="col-6 offset-3" >
        <div class="card">
            <div class="card-body text-center">
                <h3>Usuario Activado @Model.NombreUsuario</h3>
                <a class="btn btn-primary" asp-controller="User" asp-action="Index">Hacer   Login</a>
            </div>
        </div>
    </div>

</div>

