@using RedSocial.Core.Application.ViewModels.User;
@model LoginViewModel;

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Red Social</h4>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <span class="text-success">@ViewBag.Mensaje</span>
                    <form method="post" asp-controller="User" asp-action="Index">

                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label">Nombre: </label>
                            <input type="text" asp-for="Nombre" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Clave: </label>
                            <input type="password" asp-for="Password" class="form-control" />
                        </div>

                        <button type="submit" class="btn btn-primary">Login</button>
                        <a asp-controller="User" asp-action="Create" class="btn btn-warning">Registrarse</a>
                        <a asp-controller="User" asp-action="RestablecerClave" class="btn btn-outline-danger" data-toggle="modal" data-target="#claveModal" style="float:right">Olvide mi clave</a>

                    </form>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="claveModal" tabindex="-1" role="dialog" aria-labelledby="claveModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Restablecer clave</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <form method="post" asp-controller="User" asp-action="RestablecerClave">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label asp-for="Nombre" class="form-label">Nombre de Usuario: </label>
                                        <input type="text" asp-for="Nombre" class="form-control" />
                                        <span asp-validation-for="Nombre" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Password" class="form-label">Nueva Clave: </label>
                                        <input type="text" asp-for="Password" class="form-control" value=""/>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Cambiar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
